<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Cli28Julho.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<appSettings>
		<add key="Serv_Numeros" value="3"/>
		<add key="Serv01_Nome" value="Clínica 28 de Julho Homologação - Teste"/>
		<add key="Serv01_StringDeConecao1" value="server=192.168.254.226\SQLEXPRESS;database=Cli28Julho_Teste;Connection Timeout=0;uid=sa;pwd1=clinica2828;MultipleActiveResultSets=true;"/>
		<add key="Serv01_StringDeConecao2" value="server=192.168.254.226\SQLEXPRESS;database=Cli28Julho_Teste;Connection Timeout=0;uid=sa;pwd1=clinica2828;MultipleActiveResultSets=true;"/>
		<add key="Serv02_Nome" value="Clínica 28 de Julho Produção"/>
		<add key="Serv02_StringDeConecao1" value="server=192.168.254.220\SQLEXPRESS;database=Cli28Julho;Connection Timeout=0;uid=sa;pwd1=clinica2828;MultipleActiveResultSets=true;"/>
		<add key="Serv02_StringDeConecao2" value="server=192.168.254.220\SQLEXPRESS;database=Cli28Julho;Connection Timeout=0;uid=sa;pwd1=clinica2828;MultipleActiveResultSets=true;"/>
		<add key="Serv03_Nome" value="Clínica 28 de Julho Homologação"/>
		<add key="Serv03_StringDeConecao1" value="server=192.168.254.226\SQLEXPRESS;database=Cli28Julho;Connection Timeout=0;uid=sa;pwd1=clinica2828;MultipleActiveResultSets=true;"/>
		<add key="Serv03_StringDeConecao2" value="server=192.168.254.226\SQLEXPRESS;database=Cli28Julho;Connection Timeout=0;uid=sa;pwd1=clinica2828;MultipleActiveResultSets=true;"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<userSettings>
		<Cli28Julho.My.MySettings>
   <setting name="Login_IDUsuario" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Login_IDEmpresa" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Login_IDServidor" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Login_UsarSistemaDesatualizado" serializeAs="String">
    <value>N</value>
   </setting>
  </Cli28Julho.My.MySettings>
	</userSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
