@model Cli28Julho_WebAPI.Model.VW_CLINICA_SENHA_IMPRESSA_PENDENTE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VW_CLINICA_SENHA_IMPRESSA_PENDENTE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_EMPRESA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_EMPRESA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NR_CLINICA_SENHA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NR_CLINICA_SENHA)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SQ_CLINICA_SENHA" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
